@import url(./_mobile/navigation__links_mobile.css);

.navigation__links {
  display: flex;
  list-style: none;
}

.navigation__links a {
  text-decoration: none;
  color: var(--white);
}

@media screen and (max-width: 550px) {
  .navigation__links {
    display: none;
  }
}
