@import url(./__item/navigation__item.css);
@import url(./__links/navigation__links.css);
@import url(./__logo/navigation__logo.css);
@import url(./__featured/navigation__featured.css);

.navigation {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 95vw;
  max-width: 1440px;
  padding-top: 25px;
}
